#
# for Linux
#
*.o
core
a.out
ggsample01
#
# for Mac
#
.DS_Store
*.xcodeproj/*
!project.pbxproj
*.xcuserdatad/
build/
DerivedData/
#
# for Windows
#
Thumbs.db
*.dll
*.ncb
*.suo
*.vcproj.*.*.user
*.sdf
*.opensdf
Debug/
Release/
ipch/
#
# anothre stuff
#
*~
*.bak
